.vertical-table {
	padding: 0;
}
.vertical-table table {
	display: block;
}
.vertical-table table thead {
	display: none;
}
.vertical-table table tbody{
	display: flex;
}
.vertical-table table tbody tr{
	float: left;
}
.vertical-table table tbody tr:last-child{
	flex-grow: 1;
}
.vertical-table table tbody tr th{
	display: block;
	text-align: left;
	border-bottom: none !important;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: bold;
	letter-spacing: 0.5px;
}
.vertical-table table tbody tr th:nth-child(odd), .vertical-table table tbody tr td:nth-child(odd){
	background-color: #f4f5f7;
}
.vertical-table table tbody tr td{
	display:block;
	min-height: 23px;
	border-bottom: none !important;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.vertical-table .refresh-module-id {
	display: block;
}

.columnMacro[style] {
	display: inline-block !important;
}
